body{background:rgb(239, 239, 239);padding-top:90px;}
*{margin:0;padding:0;box-sizing:border-box;}
.container{
margin:0 auto;padding:0 20px;
}
.special-btn{background:white;box-shadow:inset 0 0 0 3px #dc3545;color:#dc3545;font-weight:bold;}
.special-text{color:blue;font-style:italic;}
.column-2{display:flex;flex-direction:column;align-items:center;}
.line-x{background:red;width:100%;height:2px;border:none;}
.line-y{background:red;width:2px;height:100%;border:none;}
.margin-auto{margin-left:auto;margin-right:auto;}
.flex-wrap{display:flex;flex-wrap:wrap;}
.last-child{margin-bottom:0 !important;}
/* responsive */
@media screen and (max-width:750px) {
.fs{font-size:20px;}
.small-fs{font-size:13px;}
.small-p{padding:4px 6px;}
.small-mb{margin-bottom:20px !important;}
.small-m{margin:20px auto !important;}
.column{display:flex;flex-direction:column;}
}