body{background:rgb(239, 239, 239);padding-top:90px;}
*{margin:0;padding:0;box-sizing:border-box;}
.container{
margin:0 auto;padding:0 20px;width:100%;max-width:1200px;
}
.special-btn{background:white;box-shadow:inset 0 0 0 3px #dc3545;color:#dc3545;font-weight:bold;}
.special-text{color:blue;font-style:italic;border:none;background:transparent;}
.column-2{display:flex;flex-direction:column;align-items:center;}
.line-x{background:red;width:100%;height:2px;border:none;}
.big-line-x{background:red;width:100%;height:5px;border:none;}
.margin-auto{margin:0 auto;}
.flex-wrap{display:flex;flex-wrap:wrap;}
.last-child{margin-bottom:0 !important;}
.img{width:100%;;max-width:300px;}
.antires{display:none !important;}
.iframe-s{height:6500px;}
/* responsive */
@media screen and (max-width:750px) {
.fs{font-size:20px;}
.small-fs{font-size:12px;}
.small-p{padding:4px 6px;}
.small-mb{margin:0 0 20px 0 !important;}
.small-m{margin:20px auto !important;}
.small-my{margin:15px 0 !important;}
.column{display:flex;flex-direction:column;}
}
@media screen and (max-width:950px) {
.res{display:none !important;}
.antires{display:inline-block !important;}
}
@media screen and (max-width:500px) {
.iframe-s{height:5000px;}
}
@media screen and (max-width:380px) {
.iframe-s{height:5600px;}
}